.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.logo {
    padding: 8px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    .lbox {
        height: 30px;
        width: 30px;
        background: rgba(6, 35, 82, 0.7);
    }
    h1 {
        font-size: 1.9rem;
        font-weight: 700;
        color: rgb(6, 35, 82);
        margin: 0;
        margin-left: 0.5rem;
    }
}

.user {
    display: flex;
    align-items: center;
    .img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: rgba(6, 35, 82, 0.9);
    }
    .namer {
        padding: 8px;
        margin-left: 0.3rem;
        margin-right: 1rem;
        p {
            margin: 0;
            &.name {
                font-weight: 500;
            }
            &.pos {
                font-size: 0.8rem;
                color: rgb(141, 141, 141);
            }
        }
    }
}

.content {
    margin-top: 70px;
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    .menu-item {
        margin-left: 0.5rem;
        a {
            padding: 0.5rem 1rem;
            border: 1px solid #dedede;
            text-decoration: none;
            display: block;
            margin: 0;
            border-radius: 3px;
            color: rgb(6, 35, 82);
            &:hover {
                background: rgb(6, 35, 82);
                color: #fff;
            }
        }
    }
}
